/*Naming conventions: all classes start with wd*/

body{
    font-family: "Arial";
    background-color: black;
    color: white;
}

/*Set the mid-width for the whole screen*/
.wd-explore-screen {
    min-width: 400px;
    margin-left: 16px;
}

/*Search tuiter tab*/
.wd-search {
    width: 70%;
    float: left;
    border-radius: 5px;
    color: rgb(29,162,242);
    padding: 5px;
}

/*Small icon next to the search tab*/
.wd-settings {
    float: right;
    /*position: relative;*/
    /*right: 290px;*/
    color: yellow;
    padding-right: 80px;
}


/*Search tuiter tab*/
/*.wd-nav-tabs {*/
/*    width: 80%;*/
/*    float: left;*/
/*    color: rgb(29,162,242);*/
/*    padding: 0px*/
/*}*/

/*.wd-nav-tabs .li div {*/
/*    list-style-type: none;*/
/*    display: inline-block;*/
/*    padding: 5px;*/
/*}*/

.wd-list-group {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
}

.wd-list-group .item {
    padding: 5px;
    display: inline-grid;
}

.wd-list-group .selected {
    padding: 5px;
    display: inline-grid;
    border-bottom: solid 4px rgb(29,161,242);
}


